---
layout: default
---


		<!-- Banner -->
			<div id="banner-wrapper">
				<div class="inner">
					<section id="banner" class="container">
						<p>{{ site.long_description }}</p>
					</section>
				</div>
			</div>
			
<!-- Main -->
			<div id="main-wrapper">
				<div id="main" class="container">
					<div class="row">


						<!-- Content -->
							<div id="content" class="8u">

								<!-- Post -->
								   {% for post in site.posts %}
									<article class="box post">
										<header>
											<h2><a href="{{ post.url | prepend: site.baseurl  }}" class="post-title">{{ post.title }}</a></h2>
										</header>
										{% if post.image %}
											<a href="{{ post.url | prepend: site.baseurl  }}" class="image featured"><img src="{{ site.baseurl}}images/{{ post.image }}" alt="" /></a>
										{% endif %}
										<h3>{{ post.subtitle }}</h3>
										<p>{{ post.excerpt }}</p>
										<ul class="actions">
											<li><a href="{{ post.url | prepend: site.baseurl  }}" class="button icon fa-file">Continue Reading</a></li>
										</ul>
									</article>
									{% endfor %}
							</div>
							
						<!-- Sidebar -->
							<div id="sidebar" class="4u">
							
								<!-- Excerpts -->
									<section>
										<ul class="divided">
											{% for post in site.posts %}
											<li>

												<!-- Excerpt -->

													<article class="box excerpt">
														<header>
															<span class="date">{{post.date }}</span>
															<h3><a href="{{ post.url | prepend: site.baseurl  }}">{{ post.title }}</a></h3>
														</header>
														<p>{{ post.short }}</p>
													</article>

											</li>
											{% endfor %}
										</ul>
									</section>
							
								<!-- Highlights -->
									<section>
										<ul class="divided">
											{% for post in site.categories.highlight %}
											<li>

												<!-- Highlight -->
													<article class="box highlight">
														<header>
															<h3><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
														</header>
														<a href="#" class="image left"><img src="images/{% if post.image %}{{ post.image }}{% else %}pic01.jpg{% endif %}" alt="" /></a>
														<p>{{ post.short }}</p>
														<ul class="actions">
															<li><a href="{{ post.url }}" class="button icon fa-file">Learn More</a></li>
														</ul>
													</article>

											</li>
											{% endfor %}

										</ul>
									</section>
							
							</div>

					</div>
				</div>
			</div>