<head>
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
	<meta name="keywords" content="" />
	<script>
	var CSS_BASE = "{{ site.baseurl }}/css/";
	</script>
	<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
	<script src="{{ site.baseurl}}/js/jquery.min.js"></script>
	<script src="{{ site.baseurl}}/js/jquery.dropotron.min.js"></script>
	<script src="{{ site.baseurl}}/js/skel.min.js"></script>
	<script src="{{ site.baseurl}}/js/skel-layers.min.js"></script>
	<script src="{{ site.baseurl}}/js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="{{ site.baseurl}}/css/skel.css" />
		<link rel="stylesheet" href="{{ site.baseurl}}/css/style.css" />
		<link rel="stylesheet" href="{{ site.baseurl}}/css/style-desktop.css" />

	</noscript>
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">	
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />	
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
		<link rel="stylesheet" href="{{ site.baseurl}}/css/syntax.css" />    
	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
</head>